<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2>Voici nos conditions</h2>
      <ul>
        <li>Les animaux sont autorisés</li>
        <li>La pêche dans l'étang est autorisé uniquement en No-Kill et avec un forfait supplémentaire de 10€</li>

      </ul>
    </div>
  </div>
</div>
