<div class="home-page-container">

  <%= render "shared/navbar" %>


</div>

<div class="container ">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="row title">
        <h2>Notre Gîte</h2>
      </div>
      <div class="row">
      <p>Venez découvrir notre paradis</p>
      </div>

      <div class="row title">
      <h2>Ils ont déjà tenté l'aventure</h2>
      </div>
      <div class="row">
      <p>avis </p>
      </div>

      <div class="row title">
      <h2>Que faire autour du gîte ?</h2>
      </div>
      <div class="row">
      </div>

      <div class="row title">
      <h2>Besoin d'informations ?</h2>
      </div>
      <div class="row">
      <p>Vous avez besoin de nous demander quelque chose de particulier ? Vous pouvez le faire ici et nous y répondrez aussi vite que possible. Vous pouvez aussi consulter nos conditions, nous avons peut être déjà répondu à une question que vous vous poserez, si ce n'est pas le cas, vous pouvez nous poser votre question juste en dessous.</p>
      </div>
      <div class="row">
      <button class="btn btn-primary">Nous contacter</button>
      </div>

      <div class="row title">
      <h2>Envie de séjourner chez nous?</h2>
      </div>
      <div class="row">
      <button class="btn btn-primary">Réserver</button>
      </div>

      <div class="row title">
      <h2>Vous pouvez aussi nous retrouver ici</h2>
      </div>
      <div class="row">
      <p>Nous sommes présents sur les plateformes de réservation AirB&B et CybÉvasion, voici les liens vers nos annonces :</p>
      </div>
      <div class="row logo">
        <a href="https://www.cybevasion.fr/gites-gite-3-personnes-coeur-de-sologne-gy-en-sologne-e91877.html"><%= image_tag "cyblogo.png" %></a>
        <a href="https://www.airbnb.fr/rooms/1029643770952205458?adults=1&children=0&enable_m3_private_room=true&infants=0&pets=0&search_mode=regular_search&check_in=2024-12-19&check_out=2024-12-24&source_impression_id=p3_1734615749_P3iZljZH7bpSdZ_i&previous_page_section_name=1000&federated_search_id=1694c9f4-1cc1-4a97-94d0-85c0fbe39020"><%= image_tag "rbnblogo.jpg" %></a>
      </div>


    </div>
  </div>
</div>
